@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Oswald:wght@200..700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+AU+QLD:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Oswald:wght@200..700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+AU+QLD:wght@100..400&family=Story+Script&display=swap');
* {
     font-family: "Josefin Sans", sans-serif;
}
.contenar {
    margin: auto;
    margin-top: 80px;
}
/* .title {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 36px;
    color: #333;
} */
.sec4-parent {
    float: left;
    margin-left: 8%;
    margin-bottom: 3%;
    width: 20%;
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    transition: 0.3s ease;
}

.sec4-parent:hover {
    transform: translateY(-10px);
}
.card-image {
    position: relative;
    background-color: #f0f0f0;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-image img {
    width: 100%;
    height: 300px;
}
.info-icon {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: rgba(0,0,0,0.2);
    color: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
}
.card-content {
    display: flex;
    border-top: 1px solid #eee;
}
.text-section {
    flex: 2;
    padding: 15px;
    text-align: left;
}

.product-name {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    color: #000;
}
.product-price {
    margin: 5px 0 0;
    color: #666;
    font-size: 18px;
}
.cart-section {
    flex: 1;
    border-left: 1px solid #eee;
    display: flex;
    justify-content: center;
    align-items: center;
}
.add-to-cart {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #444;
    width: 100%;
    height: 100%;
    transition: 0.2s;
}
.add-to-cart:hover {
    background-color: #f9f9f9;
}

